html,
body {
  height: 100%;
}

body {
  font-family: 'Open Sans';
  font-size: 18px;
}

.forecast-page {
  background-color: #000;
  color: #fff;
}

.bold {
  font-weight: 600;
}

.font-m {
  font-size: 28px;
}

.btn {
  background-color: #e60000;
  color: #fff;
  border-radius: 0;
}

.weather-section .city-select {
  border: 0;
  background-color: #d9d9d9;
}

.weather-section {
  background-color: #fff;
  color: #000;
}
